body {
  background-color: #DDC5AD;
  color: rgb(65, 113, 156);
}

#main_body {
  border-radius: 25px;
  background-color: rgb(240,229,220);
  border: 2px solid rgb(65, 113, 156);
  padding: 20px; /*clears area around content*/
  margin: 20px; /*clears area outside border*/
  width: 90%;
  height: 800px;
}

.column{
  float:left;
  padding: 10px;
}

.column.left{
  width: 25%;
}

.column.middle{
  width: 50%;

  background-color: #FFFFFF;
  border-radius: 15px;
  border: 1px solid rgb(65, 113, 156);
  padding: 10px;
  height: 90%;
  overflow-y: auto; /*hidden, visible, scroll, auto*/
}

.column.right{
  width: 25%;
}

.main_content:after{
  content: "";
  display: table;
  clear: both;
}
