body {
  background-color: #DDC5AD;
  color: rgb(65, 113, 156);
}

/* navigation bar */
.navigation_bar{
  float:left;
  list-style-type: none; /*removes bullet marks in list*/
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: rgb(240,229,220);
  height: 90%; /*full height is 100%*/
  position: absolute; /*make it stick, even on scroll*/
  overflow-y: scroll; /*hidden, visible, scroll, auto*/
  overflow-x: visible;
}

#main_body {
  border-radius: 25px;
  background-color: rgb(240,229,220);
  border: 2px solid rgb(65, 113, 156);
  padding: 20px; /*clears area around content*/
  margin: 20px; /*clears area outside border*/
  width: 90%;
  height: 800px;
}

a{
  text-decoration: none;
  color: black;
}

.photo{
  display:inline-block;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  border: 1px solid rgb(65, 113, 156);
  background-color: #DDC5AD;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
}

.profile_field {
  background-color: #FFFFFF;
  border-radius: 15px;
  border: 1px solid rgb(65, 113, 156);
  margin-left: 150px;
  margin-right: 50px;
  padding: 10px;
  width: 55%;
  height: 90%;
  overflow-y: auto; /*hidden, visible, scroll, auto*/
}

.tag_list{
  float: right;
  margin-right: 0;
  padding: 0px;
  height:90%;
  width: 5%; /*edit*/
}
